extends ./layout.jade

block content
    // Content Header (Page header)
    section.content-header
        h1
            | Dashboard
            small Panel de control
        ol.breadcrumb
            li
                a(href='/')
                    i.fa.fa-dashboard
                    |  Dashboard
            li
                a(href='/my-schools')
                    i.fa.fa-dashboard
                    |  Mis extraescolares                    
            li.active #{group_code}
        
    // Main content
    section.content
        #alertAttendance.alert.alert-success.alert-dismissible(style="display: none; ")
            button.close#alertAttendanceClose(type='button', aria-hidden='true') ×
            h4
                i.icon.fa.fa-check
                | Lista de asistencia guardada con exito!
        .row
            .col-xs-12
                .box
                    .box-header
                        h3.box-title #{group_code}
                    // /.box-header
                    .box-body.table-responsive.no-padding
                        table.table.table-hover
                            tbody
                                tr
                                    th.nombre_cell Nombre y apellidos
                                each student in students_list
                                    tr
                                        - var name = student.name.toUpperCase()
                                        - var surname1 = ""
                                        - var surname2 = ""

                                        if student.surname1 != undefined
                                            - var surname1 = student.surname1.toUpperCase()

                                         if student.surname2 != undefined
                                            - var surname2 = student.surname2.toUpperCase() 

                                        td= name + " " + surname1 + " " + surname2
                    // /.box-body
                // /.box
            .col-xs-12
                p.help-block Utiliza la siguiente herramienta para pasar lista de los estudiantes:
                button.btn.btn-block.btn-default.btn-lg.comprobar_asistencia#attendanceDis(onclick="activateAttendance()" type='button' style="background-color: yellow; display: block;") Comprobar asistencia

                .col-xs-12.modo_asistencia#attendanceAct(style="display: None;")
                    p.help-block Marca AHORA los estudiantes tocando sobre el nombre de cada uno (la fila se volvera verde)
                    .col-xs-6
                        button.btn.btn-block.btn-default.btn-lg.confirmar_asistencia#confirmAttendance(style="background-color: #00FF00;" type='button') Confirmar
                    .col-xs-6
                        button.btn.btn-block.btn-default.btn-lg.cancelar_asistencia#cancelAttendance(style="background-color: #FF0000;" type='button') Cancelar
      // Your Page Content Here
    // /.content

    script(src='plugins/jQuery/jQuery-2.1.4.min.js')
    script.
        var attending_list = [];
        //var temp_list = !{JSON.stringify(students_list)};
        //temp_list.forEach(function(element, index, array){
         //  missing_list.push(element.name + " " + element.surname1 + " " + element.surname2);
        //});
        //var all_students = missing_list.slice();

        var attendanceMode = false;

        function showAttendanceModeMenu(){
            $('#attendanceAct').css('display','block');
            $('#attendanceDis').css('display','none');
        }

        function hideAttendanceModeMenu(){
            $('#attendanceAct').css('display','none');
            $('#attendanceDis').css('display','block');
            $('table tr td').css("background-color", "White");
            attendanceMode = false;
            list = [];
        }

        function activateAttendance(){
            attendanceMode = true;
            showAttendanceModeMenu();
            //console.log("Activated attendanceMode");
        }

        function updateStudentInAttendateList(student){
            if(student){ // if not null
                var position = $.inArray(student.html(), attending_list); // get position
                if(position == -1){ // if is in list
                    attending_list.push(student.html()); // add it
                    student.css("background-color", "#00FF00");
                }
                else{ // if not in list
                    attending_list.splice(position, 1); //  remove it
                    student.css("background-color", "White"); 
                }
            }
        }

        $(document).ready(function(){
            $('table tr').click(function(){
                if(attendanceMode){
                    var student = $(this).find('td');
                    updateStudentInAttendateList(student);
                }
            });

            $('#cancelAttendance').click(function(){
                hideAttendanceModeMenu();
            });

            $('#alertAttendanceClose').click(function(){
                $('#alertAttendance').css('display','none');
            });

            $('#confirmAttendance').click(function(){
                $.ajax({
                    url: '/register-attendance',
                    type: "post",
                    contentType: "application/json",
                    data: JSON.stringify({ 'attending_list[]': attending_list, group: '#{group_code}' }),
                    success: function( data ){
                        if(data.success){
                            $('#alertAttendance').css('display','block');
                            hideAttendanceModeMenu();
                            window.scrollTo(0, 0);
                        }
                    }
                });
                
            });
        });