extends ./layout.jade

block content
    // Content Header (Page header)
    section.content-header
        h1
            | Dashboard
            small Panel de control
        ol.breadcrumb
            li
                a(href='/')
                    i.fa.fa-dashboard
                    |  Dashboard
            li
                a(href='/my-schools')
                    i.fa.fa-dashboard
                    |  Mis extraescolares                    
            li.active #{group_code}
        
    // Main content
    section.content
        #alertAttendance.alert.alert-success.alert-dismissible(style="display: none;")
                button.close#alertAttendanceClose(type='button', aria-hidden='true') ×
                h4
                    i.icon.fa.fa-check
                    | Lista de asistencia guardada con exito!
        .row
            .col-xs-12
                .box
                    .box-header
                        h3.box-title #{group_code}
                    // /.box-header
                    .box-body.table-responsive.no-padding
                        table.table.table-hover
                            tbody
                                tr
                                    th.nombre_cell Nombre y apellidos
                                each student in students_list
                                    tr
                                        td #{student.name} #{student.surname1} #{student.surname2}
                    // /.box-body
                // /.box
            .col-xs-12
                button.btn.btn-block.btn-default.btn-lg.comprobar_asistencia#attendanceDis(onclick="activateAttendance()" type='button' style="display: block;") Comprobar asistencia

                .col-xs-12.modo_asistencia#attendanceAct(style="display: None;")
                    p.help-block Marca los estudiantes ausentes
                    button.btn.btn-block.btn-default.btn-lg.confirmar_asistencia#confirmAttendance(type='button') Confirmar faltas de asistencia
                    button.btn.btn-block.btn-default.btn-lg.cancelar_asistencia#cancelAttendance(type='button') Cancelar proceso asistencia
      // Your Page Content Here
    // /.content

    script(src='plugins/jQuery/jQuery-2.1.4.min.js')
    script.
        var attendanceMode = false;
        var list = [];

        function showAttendanceModeMenu(){
            $('#attendanceAct').css('display','block');
            $('#attendanceDis').css('display','none');
        }

        function hideAttendanceModeMenu(){
            $('#attendanceAct').css('display','none');
            $('#attendanceDis').css('display','block');
            $('table tr td').css("background-color", "White");
            attendanceMode = false;
            list = [];
        }

        function activateAttendance(){
            attendanceMode = true;
            showAttendanceModeMenu();
            //console.log("Activated attendanceMode");
        }

        function updateStudentInAttendateList(student){
            if(student){ // if not null
                var position = $.inArray(student.html(), list); // get position
                if(position != -1){ // if is in list
                    list.splice(position, 1); //  remove it
                    student.css("background-color", "White");
                }
                else{ // if not in list
                    list.push(student.html()); // add it
                    student.css("background-color", "OrangeRed");
                }                    
            }
        }

        $(document).ready(function(){
            $('table tr').click(function(){
                if(attendanceMode){
                    var student = $(this).find('td');
                    updateStudentInAttendateList(student);
                }
            });

            $('#cancelAttendance').click(function(){
                hideAttendanceModeMenu();
            });

            $('#alertAttendanceClose').click(function(){
                $('#alertAttendance').css('display','none');
            });

            $('#confirmAttendance').click(function(){
                $.ajax({
                    url: '/register-attendance',
                    type: "post",
                    data: { 'list[]': list, group: '#{group_code}' },
                    success: function( data ){
                        if(data.success){
                            $('#alertAttendance').css('display','block');
                            hideAttendanceModeMenu();
                        }
                    }
                });
                
            });
        });