extends ./layout.jade

block content
    // Content Header (Page header)
    section.content-header
        h1
            | Dashboard
            small Panel de control
        ol.breadcrumb
            li
                a(href='/')
                    i.fa.fa-dashboard
                    |  Dashboard                   
            li.active Importar actividades
    
    // Main content
    section.content
        if user_added >= 1
            .alert.alert-success.alert-dismissible
                button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
                h4
                    i.icon.fa.fa-check
                    |  #{user_added} actividades añadidas con exito!

        .box.box-primary
            .box-header.with-border
                h3.box-title Importar actividades

            form(role='form' id="uploadForm" enctype="multipart/form-data" action="/import-activities" method="post")
              .box-body
                .form-group
                  label(for='exampleInputFile') Importar fichero de actividades
                  input#exampleInputFile(type='file' name="file")
                  p.help-block Importar un fichero borrará todos los datos anteriores. Asegurese de que su nuevo fichero incluye los datos anteriores para que puedan ser cargados de nuevo.
              .box-footer
                filename
                button.btn.btn-primary(type='submit') Importar actividades
                  
        .row
            .col-xs-12
              .box
                .box-header
                  h3.box-title Actividades
                // /.box-header
                .box-body.table-responsive.no-padding
                  table.table.table-hover
                    tbody
                      tr
                        th Tipo
                        th Colegio
                        th Codigo
                        th Cursos
                        th Dia
                        th Hora
                        th Monitores
                      each activity in activities_list
                        if activity.type == "Extraescolar"   
                          tr
                            td #{activity.type}
                            td #{activity.school}
                            td #{activity.code}
                            td #{activity.courses}
                            td #{activity.day}
                            td #{activity.schedule}
                            td #{activity.teachers}
                // /.box-body
              // /.box
              .box
                .box-header
                  h3.box-title Clubs
                // /.box-header
                .box-body.table-responsive.no-padding
                  table.table.table-hover
                    tbody
                      tr
                        th Tipo
                        th Colegio
                        th Codigo
                        th Cursos
                        th Dia
                        th Hora
                        th Monitores
                      each activity in activities_list
                        if activity.type == "Club"   
                          tr
                            td #{activity.type}
                            td #{activity.school}
                            td #{activity.code}
                            td #{activity.courses}
                            td #{activity.day}
                            td #{activity.schedule}
                            td #{activity.teachers}
                // /.box-body
              // /.box              

          // Your Page Content Here
        // /.content