extends ./layout.jade

block content
    // Content Header (Page header)
    section.content-header
        h1
            | Dashboard
            small Panel de control
        ol.breadcrumb
            li
                a(href='/')
                    i.fa.fa-dashboard
                    |  Dashboard                   
            li.active Importar estudiantes
    
    // Main content
    section.content
      if user_added >= 1
        .alert.alert-success.alert-dismissible
          button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
          h4
            i.icon.fa.fa-check
            |  #{user_added} estudiantes añadidos con exito!
          //| Success alert preview. This alert is dismissable.

      .box.box-primary
        .box-header.with-border
          h3.box-title Importar estudiantes

        form(role='form' id="uploadForm" enctype="multipart/form-data" action="/import-students" method="post")
          .box-body
            .form-group
              label(for='exampleInputFile') Importar fichero de estudiantes
              input#exampleInputFile(type='file' name="file")
              p.help-block Importar un fichero borrará todos los datos anteriores. Asegurese de que su nuevo fichero incluye los datos anteriores para que puedan ser cargados de nuevo.

          .box-footer
            filename
            button.btn.btn-primary(type='submit') Importar estudiantes
              
      .row
        .col-xs-12
          .box
            .box-header
              h3.box-title Estudiantes
            // /.box-header
            .box-body.table-responsive.no-padding
              table.table.table-hover
                tbody
                  tr
                    th Nombre
                    th Apellido1
                    th Apellido2
                    th Grupo
                    th Telefono
                  each student in students_list
                      tr
                        td #{student.name}
                        td #{student.surname1}
                        td #{student.surname2}
                        td #{student.group}
                        td #{student.phone}
            // /.box-body
          // /.box

      // Your Page Content Here
    // /.content