extends ./layout.jade

block content
    // Content Header (Page header)
    section.content-header
        h1
            | Dashboard
            small Panel de control
        ol.breadcrumb
            li
                a(href='/')
                    i.fa.fa-dashboard
                    |  Dashboard                   
            li.active Mis extraescolares
    // Main content
    section.content     
        .row
            .col-xs-12
            .box
                .box-header
                  h3.box-title Mis extraescolares
                  p.help-block Pulsa sobre un colegio para acceder a la lista de alumnos de ese grupo

                // /.box-header
                .box-body.table-responsive.no-padding
                  table.table.table-hover
                    tbody
                      tr
                        th Colegio
                        th Codigo
                        th Dia
                        th Hora
                        th
                      each activity in my_activities
                        if activity.type == "Extraescolar"   
                          tr(href='/classroom?code=#{activity.code}')
                            td !{activity.school.toUpperCase()}
                            td #{activity.code}
                            td !{activity.day.replace(/1/g, 'L').replace(/2/g, 'M').replace(/3/g, 'X').replace(/4/g, 'J').replace(/5/g, 'V').replace(/6/g, 'S')}
                            td #{activity.schedule}
                            td
                                i.fa.fa-arrow-right
                // /.box-body
            // /.box

      // Your Page Content Here
    // /.content
    script(src='plugins/jQuery/jQuery-2.1.4.min.js')
    script.
        $(document).ready(function(){
            $('table tr').click(function(){
                window.location = $(this).attr('href');
                return false;
            });
        });